<section>
  <h2>Books</h2> 
   <table class="table"> 
<th> Votes </th>
<th> Title </th>
<th> Created by</th>
<th> Published </th>
<th>Upvote</th>



<% @books.each do |book| %>
<tr>
<td><%= book.votes.length %></td>
<td><%= book.title %></td>
<td><%= book.creator %></td>
<td><%= book.publication_year %></td>
<% if !@user %>
<td> <%=link_to "Upvote", vote_error_path, method: :post, class:"btn btn-primary" %></td>  
 <% elsif Vote.find_by(work_id: book.id, user_id: @user.id) %>
<td><%=  link_to "Un-Upvote" , upvote_path(work_id: book.id, user_id: @user.id), method: :post, class:"btn btn-primary"%></td>
<% else %>
<td>   <%=link_to "Upvote", upvote_path(work_id: book.id, user_id: @user.id), method: :post, class:"btn btn-primary" %></td>        
<%end%>
</tr>
<%end%>
</table>

  <h2>Movies</h2> 
<table class="table"> 
<th> Votes </th>
<th> Title </th>
<th> Created by</th>
<th> Published </th>
<th>Upvote</th>

<% @movies.each do |movie| %>
<tr>
<td><%= movie.votes.length %></td>
<td><%= movie.title %></td>
<td><%= movie.creator %></td>
<td><%= movie.publication_year %></td>
 <% if !@user %>
<td> <%=link_to "Upvote", vote_error_path, method: :post, class:"btn btn-primary" %></td>  
 <% elsif Vote.find_by(work_id: movie.id, user_id: @user.id) %>
<td><%=  link_to "Un-Upvote" , upvote_path(work_id: movie.id, user_id: @user.id), method: :post, class:"btn btn-primary"%></td>
<% else %>
<td>   <%=link_to "Upvote", upvote_path(work_id: movie.id, user_id: @user.id), method: :post, class:"btn btn-primary" %></td>        
<%end%>
</tr>
<%end%>
</table>

  <h2>Albums</h2> 
<table class="table"> 
<th> Votes </th>
<th> Title </th>
<th> Created by</th>
<th> Published </th>
<th>Upvote</th>

<% @albums.each do |album| %>
<tr>
<td><%= album.votes.length %></td>
<td><%= album.title %></td>
<td><%= album.creator %></td>
<td><%= album.publication_year %></td>
 <% if !@user %>
<td> <%=link_to "Upvote", vote_error_path, method: :post, class:"btn btn-primary" %></td>  
 <% elsif Vote.find_by(work_id: album.id, user_id: @user.id) %>
<td><%=  link_to "Un-Upvote" , upvote_path(work_id: album.id, user_id: @user.id), method: :post, class:"btn btn-primary"%></td>
<% else %>
<td>   <%=link_to "Upvote", upvote_path(work_id: album.id, user_id: @user.id), method: :post, class:"btn btn-primary" %></td>        
<%end%>
</tr>
<%end%>
</table>
    
</section>