<header class="show-header">
  <h1><%=@work.title%></h1>
  <h2>by <%=@work.creator%></h2>
  <%= link_to "Edit this work!", edit_work_path(@work.id) %>
</header>

<section class="show-details">

  <p>
    About this work: <%= @work.description %>
  </p>

  <%= image_tag "https://www.top13.net/wp-content/uploads/2016/10/most-beautiful-cats-world-11.jpg", alt: "The most beautiful cat in the world (A cat with long and dark fur staring into the camera directly", class: "show-cat" %>

</section>