<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header class="app-header__header">
    <h1>
        <%=link_to "Media Ranker", root_path %>
        <small>Ranking the Best of Everything</small>
    </h1>
    <nav class="app-header__nav">
        <ul class="nav app-header__site-nav-container">
            <li class="nav-item app-header__nav_item">
                <%=link_to "view top media", root_path, class:"nav-link" %>
            </li>
            <li class="nav-item app-header__nav_item">
                <%=link_to "view all media", works_path, class:"nav-link" %>
            </li>
            <li class="nav-item app-header__nav_item">
                <%=link_to "view all users", users_path, class:"nav-link" %>
            </li>
        </ul>
        <ul class="nav app-header__user-nav-container">
        <li class="nav-item app-header__nav_item">
          <% if @user%>
            <%= link_to "Logout", logout_path, class:"btn btn-primary", method: :post %>
          <% else %>
            <%=link_to "Log In", login_path, class:"btn btn-primary" %>
          <%end%>
  
        </li>
        </ul>
    </nav>
  


    <%# Our nice generic way of displaying flash messages: Iterating over the hash-like structure of flash and setting all HTML elements and CSS classes however we want. %>
    <section class="user-messages">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= name.capitalize %>: <%= message %></div>
      <% end %>
    </section>


    <%= yield %>
  </body>
</html>
